extends layout
block vars
    - var title = "quizzes"
block title
    title #{title}
block content
    - var navigations = [{name: "dashboard", link: "/dashboard"}]
    - var pageName = "QUIZZES"
    include ./header/header.jade
    include ./quizzes-content/quizzes-content.jade
    //center
    //    h1 Quizzes
    //p(align='right') #{email}
    //    a(href='/dashboard') dashboard
    //hr
    //if quizzes
    //    center
    //        table(width='750px')
    //            tr
    //                td
    //                    h3 Action
    //                td
    //                    center
    //                        h3 Name of the quizzes
    //                td
    //                    h3 Duration
    //            each quiz in quizzes
    //                tr
    //                    td
    //                        button(type='submit' onclick="window.location.href='/join/#{quiz.id}'") Join
    //                    td
    //                        center #{quiz.name}
    //                    td #{quiz.duration}
    //else
    //    center
    //        br
    //        br
    //        br
    //        br
    //        br
    //        br
    //        br
    //        h2 No quizzes found